.btn {
  width: $btn-width;
  height: $btn-height;
  margin: $btn-margin;
  font-family: $font-family-base;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: $btn-letter-spacing;
  border-radius: $btn-border-radius;
}

.btn-lg {
  width: $large-btn-width;
  height: $large-btn-height;
  font-size: $large-btn-font-size;
}

.btn-sm {
  width: $small-btn-width;
  height: $small-btn-height;
  font-size: $small-btn-font-size;
  font-weight: $small-btn-font-weight;
  letter-spacing: $small-btn-letter-spacing;
}

.btn-primary {
  background: linear-gradient(180deg, $btn-primary-gradient-start 0%, $btn-primary-gradient-end 100%);
}

.btn-alert {
  background: linear-gradient(180deg, $btn-alert-gradient-start 0%, $btn-alert-gradient-end 100%);
}

.btn-success {
  background: linear-gradient(180deg, $btn-success-gradient-start 0%, $btn-success-gradient-end 100%);
}

.btn-default {
  color: $grey-light;
  background-color: $white;
  border: $default-btn-border solid $grey-light;
}

.btn-block {
  width: $btn-block-width;
  margin: $btn-block-margin;
}
