// Checkboxes and radio buttons
input[type=checkbox], 
input[type=radio] 
{
  display:none;
  
  & + label {
    color: $brand-grey;
    font-weight: $font-weight-light;
    letter-spacing: $input-letter-spacing;
    
    span {
      background: $white;
      border: $checkbox-border;
      border-radius: $checkbox-border-radius;
      height: $input-height;
      width: $input-width;
      display: inline-block;
      margin: $input-margin;
      vertical-align: sub;

      i {
        color: $white;
        font-size: $input-icon-font-size;
        margin: $input-icon-margin;
      }

      &:hover {
        color: $brand-grey;
      }
    }
    
    &:hover {
      color: $brand-primary;
      
      span {
        border-color: $brand-primary;
      }
    }
  }

  &:checked + label {
    font-weight: $font-weight-strong;
  
    span {
      background-color: $brand-primary;
    }
  }

  &:disabled + label {
    color: $brand-grey;
    opacity: $input-disabled-opacity;
    
    span {
      border-color: $brand-grey;
      opacity: $input-disabled-opacity;
    }
  }

  &:disabled:checked + label span {
    background-color: $brand-grey;
    opacity: $input-disabled-opacity;
  }
}

// Radio button specific
input[type=radio] 
{
  & + label span {
    border-radius: $radio-border-radius;
  }

  &:checked + label span {
    border: $radio-border;
    background-color: $white
  }

  &:disabled:checked + label span {
    border: $radio-border;
  }
}