// Table Styling

table {
  box-shadow: $table-shadow-x $table-shadow-y $table-shadow-blur $table-shadow-spread $table-shadow-color;
  width: $table-width;

  .collapse-content {
    padding: $table-padding;
  }
}

th, td {
  font-family: inherit;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-sm;
  padding: $table-padding;
}

th {
  background-color: $table-header-color;
  color: $white;
}

td {
  color: $brand-grey;

  i {
    color: $brand-grey;
    padding: 0;
    vertical-align: middle;
  }

  div {
    vertical-align: middle;
  }
}

tr {
  border: $table-border-width solid $table-border-color;

  &:nth-child(odd) {
    background-color: $table-row-color;
  }
}

.navigational {
  span {
    float: right;
  }

  .label {
    display: inline-block;
  }
}

.collapsable {
  .label {
    display: inline-block;
  }

  .subtitle {
    display: inline-block;
  }

  .highlight {
    display: inline-block;
    float: right;
  }

  span {
    display: inline-block;
    float: right;
  }
}
