// Table Styling

table {
  width: $table-width;
  box-shadow: $table-shadow-x $table-shadow-y $table-shadow-blur $table-shadow-spread $table-shadow-color;

  .collapse-content {
    padding: $collapse-padding;
  }
}

th, td {
  padding: $table-padding;
  font-family: inherit;
  font-size: $p-font-size;
  font-weight: $font-weight-normal;
  line-height: $p-line-height;
  letter-spacing: $letter-spacing-sm;
}

th {
  color: $white;
  background-color: $table-header-color;
}

td {
  color: $brand-grey;

  i {
    padding: 0;
    color: $brand-grey;
    vertical-align: middle;
  }

  div {
    vertical-align: middle;
  }
}

tr {
  border: $table-border-width solid $table-border-color;

  &:nth-child(odd) {
    background-color: $table-row-color;
  }
}

.navigational {
  span {
    float: right;
  }

  .label {
    display: inline-block;
  }
}

.collapsable {
  .label {
    display: inline-block;
    padding-left: $label-padding;
  }

  .subtitle {
    display: inline-block;
    font-size: $subtitle-size;
    font-weight: $font-weight-strong;
    color: $brand-grey-light;
  }

  .highlight {
    display: inline-block;
    float: right;
    padding-right: $highlight-padding;
    font-size: $subtitle-size;
    font-weight: $font-weight-strong;
    color: $brand-primary;
  }

  i {
    color: $brand-grey-light;
  }

  span {
    display: inline-block;
    float: right;
    padding-left: $arrow-padding;

    .material-icons {
      color: $brand-grey;
    }
  }

  .title {
    font-size: $subtitle-size;
    font-weight: $font-weight-normal;
    color: $brand-grey-light;
  }

  .description {
    color: $brand-primary;

    em {
      font-style: normal;
      font-weight: $font-weight-strong;
    }
  }

  .data-section {
    display: inline-block;
    padding: $data-padding;

    .data {
      font-style: normal;
      font-weight: $font-weight-strong;
      color: $table-header-color;

      em {
        font-style: normal;
        color: $brand-success;
      }
    }
  }
}
