// Headings and their subheadings
h1 {
  &.lhi-header {
    display: block;
    width: $section-header-width;
    height: $section-header-height;
    font-size: $section-header-font-size;
    line-height: $section-header-line-height;
    color: $white;
    text-indent: $section-header-indent;
    background: linear-gradient(90deg, $header-gradient-start 0%, $header-gradient-end 100%);

    &::before {
      width: 0;
    }
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: $headings-margin-bottom $headings-margin-sides;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;

  small {
    display: block;
    font-weight: $headings-small-font-weight;
    color: $smalls-color;

    &::before {
      display: inline-block;
      width: $header-decorator-width;
      height: inherit;
      content: "\00a0";
      background-color: $brand-accent;
    }
  }

  &::before {
    display: inline-block;
    width: $header-decorator-width;
    height: inherit;
    margin-left: $header-offset;
    content: "\00a0";
    background-color: $brand-accent;
  }

  &.dark {
    color: $white;

    small {
      color: $white;
    }
  }
}

h1, h2,
.h1, .h2 {
  small {

    &::before {
      margin-right: $before-small-spacing-lg;
      margin-left: $header-offset;
    }
  }
}

h3, h4,
.h3, .h4 {
  small {

    &::before {
      margin-right: $before-small-spacing-sm;
      margin-left: $header-offset;
    }
  }
}

h5, h6,
.h5, .h6 {
  &::before {
    margin-right: $before-small-spacing-sm;
  }
}

h1, h2, h6,
.h1, .h2, .h6 {
  letter-spacing: $headings-letter-spacing-lg;
}

h3, h4, h5,
.h3, .h4, .h5 {
  letter-spacing: $headings-letter-spacing-sm;
}

h1, .h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;

  small {
    font-size: $h1-small-font-size;
    line-height: $h1-small-line-height;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;

  small {
    font-size: $h2-small-font-size;
    line-height: $h2-small-line-height;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;

  small {
    font-size: $h3-small-font-size;
    line-height: $h3-small-line-height;
  }

  &::before {
    margin-right: $h3-offset;
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;

  small {
    font-size: $h4-small-font-size;
    line-height: $h4-small-line-height;
  }

  &::before {
    margin-right: $h4-offset;
  }
}

h5, .h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}

h6, .h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-bold;
  line-height: $h6-line-height;
  text-transform: uppercase;
}

// Lists

ul, ol {
  padding: $list-item-indent;
  margin-top: $list-item-padding;
  margin-left: $list-item-indent;
  font-size: $p-font-size;
  font-weight: $font-weight-normal;
  line-height: $p-line-height;
  color: $brand-grey;
  letter-spacing: $letter-spacing-sm;
  list-style-position: outside;

  li {
    margin-bottom: $list-item-padding;
  }
}

// Non heading text

p, i, a, strong {
  font-size: $p-font-size;
  line-height: $p-line-height;
  letter-spacing: $letter-spacing-sm;
}

p, i {
  font-weight: $p-font-weight;
}

a, strong {
  font-weight: $font-weight-strong;
}

p {
  color: $brand-grey;
}

i {
  color: $brand-success-light;
}

a {
  color: $brand-primary-light;
}

strong {
  color: $brand-grey-dark;
}
