// Headings and their subheadings
h1 {
  &.lhi-header {
    background: linear-gradient(90deg, $header-gradient-start 0%, $header-gradient-end 100%);
    color: $white;
    display: block;
    font-size: $section-header-font-size;
    height: $section-header-height;
    line-height: $section-header-line-height;
    text-indent: $section-header-indent;
    width: $section-header-width;

    &:before {
      width: 0;
    }
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  padding-left: 0;

  &:before {
    background-color: $brand-accent;
    content: '\00a0';
    display: inline-block;
    height: inherit;
    margin-left: $header-offset;
    width: $header-decorator-width;
  }

  &.dark {
    color: $white;
  }
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  small {
    color: $smalls-color;
    display: block;
    font-weight: $headings-small-font-weight;

    &:before {
      background-color: $brand-accent;
      content: '\00a0';
      display: inline-block;
      height: inherit;
      // margin-left: $header-offset;
      width: $header-decorator-width;
    }
  }
}

h1, h2,
.h1, .h2 {
  small {

    &:before {
      margin-left: $header-offset;
      margin-right: $before-small-spacing-lg;
    }
  }
}

h3, h4,
.h3, .h4 {
  small {

    &:before {
      margin-left: $header-offset;
      margin-right: $before-small-spacing-sm;
    }
  }
}

h5, h6,
.h5, .h6 {
  &:before {
    margin-right: $before-small-spacing-sm;
  }
}

h1, h2, h6,
.h1, .h2, .h6 {
  letter-spacing: $headings-letter-spacing-lg;
}

h3, h4, h5,
.h3, .h4, .h5 {
  letter-spacing: $headings-letter-spacing-sm;
}

h1, .h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;

  small {
    font-size: $h1-small-font-size;
    line-height: $h1-small-line-height;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;

  small {
    font-size: $h2-small-font-size;
    line-height: $h2-small-line-height;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;

  small {
    font-size: $h3-small-font-size;
    line-height: $h3-small-line-height;
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;

  small {
    font-size: $h4-small-font-size;
    line-height: $h4-small-line-height;
  }
}

h5, .h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}

h6, .h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-bold;
  line-height: $h6-line-height;
  text-transform: uppercase;
}

// Lists

ul, ol {
  color: $brand-grey;
  font-size: $p-font-size;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-sm;
  line-height: $p-line-height;
  list-style-position: outside;
  margin-left: $list-item-indent;
  margin-top: $list-item-padding;
  padding: $list-item-indent;

  li {
    margin-bottom: $list-item-padding;
  }
}

// Non heading text

p, i, a, strong {
  font-size: $p-font-size;
  letter-spacing: $letter-spacing-sm;
  line-height: $p-line-height;
}

p, i {
  font-weight: $p-font-weight;
}

a, strong {
  font-weight: $font-weight-strong;
}

p {
  color: $brand-grey;
}

i {
  color: $brand-success-light;
}

a {
  color: $brand-primary-light;
}

strong {
  color: $brand-grey-dark;
}
