// Variables

// Colors

$blue:                #0064be !default;
$yellow:              #ffc800 !default;
$green:               #6ec882 !default;
$red:                 #ff5028 !default;
$white:               #fff !default;

$table-border-color:  #f0f0f5 !default;
$table-header-color:  #6e8ca0 !default;
$table-row-color:     #fafafa !default;
$table-shadow-color:  rgba(30, 40, 50, .1) !default;

// Color Variations
$blue-light:          #0082c8 !default;
$blue-dark:           #0050aa !default;
$yellow-light:        #ffdc32 !default;
$yellow-dark:         #fab400 !default;
$green-light:         #8cdca0 !default;
$green-dark:          #64b482 !default;
$red-light:           #ff6e3c !default;
$red-dark:            #f03c28 !default;

// Greyscale
$grey-dark:           #1e2832 !default;
$grey:                #5a6e82 !default;
$grey-light:          #8caabe !default;
$grey-lighter:        #f0f0f5 !default;

// Gradients
$header-gradient-start:   #0071c1 !default;
$header-gradient-end:     #008fcb !default;

// Button Gradients
$btn-primary-gradient-start:    #0071c1 !default;
$btn-primary-gradient-end:      #008fcb !default;

$btn-alert-gradient-start:      #ff5736 !default;
$btn-alert-gradient-end:        #ff774c !default;

$btn-success-gradient-start:    $green !default;
$btn-success-gradient-end:      $green-light !default;

// Semantic Colors
$brand-primary:           $blue !default;
$brand-accent:            $yellow !default;
$brand-success:           $green !default;
$brand-alert:             $red !default;

$brand-primary-light:     $blue-light !default;
$brand-accent-light:      $yellow-light !default;
$brand-success-light:     $green-light !default;
$brand-alert-light:       $red-light !default;

$brand-primary-dark:      $blue-dark !default;
$brand-accent-dark:       $yellow-dark !default;
$brand-success-dark:      $green-dark !default;
$brand-alert-dark:        $red-dark !default;

$brand-grey-dark:         $grey-dark !default;
$brand-grey:              $grey !default;
$brand-grey-light:        $grey-light !default;
$brand-grey-lighter:      $grey-lighter !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
) !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg-color:       $white !default;
$body-color:          $blue !default;
$body-height:         100% !default;
$body-padding-top:    2.75rem !default;

// Fonts

$font-family-sans-serif: 'Montserrat', 'Helevetia Neue', Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

$font-weight-bold: bold !default;
$font-weight-strong: 500 !default;
$font-weight-normal: normal !default;
$font-weight-light: 300 !default;

$h1-font-size: 2.25rem !default;
$h2-font-size: 1.875rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.25rem !default;
$h5-font-size: 1.125rem !default;
$h6-font-size: .875rem !default;
$h1-small-font-size: 1.5rem !default;
$h2-small-font-size: 1.25rem !default;
$h3-small-font-size: 1.125rem !default;
$h4-small-font-size: .875rem !default;

$h1-line-height: 3.125rem !default;
$h2-line-height: 2.5rem !default;
$h3-line-height: 1.875rem !default;
$h4-line-height: 1.875rem !default;
$h5-line-height: 1.25rem !default;
$h6-line-height: 1.25rem !default;
$h1-small-line-height: 1.875rem !default;
$h2-small-line-height: 1.875rem !default;
$h3-small-line-height: 1.25rem !default;
$h4-small-line-height: 1.25rem !default;

$h3-offset:              .18rem !default;
$h4-offset:              .225rem !default;

$section-header-font-size: 1.875rem !default;
$section-header-line-height: 3.75rem !default;
$section-header-height:  3.75rem !default;
$section-header-width:   100% !default;
$section-header-indent:  3.75rem !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-margin-sides:  0 !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   $font-weight-strong !default;
$headings-small-font-weight:   $font-weight-light !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

$smalls-color:           $grey !default;
$headings-letter-spacing-lg: .125rem !default;
$headings-letter-spacing-sm: .0625rem !default;
$header-decorator-width: .625rem !default;
$header-offset:          -1rem !default;
$before-small-spacing-lg:   .23rem !default;
$before-small-spacing-sm:   .2rem !default;

$letter-spacing-sm:      $headings-letter-spacing-sm !default;

// Lists

$list-item-indent:      .625rem !default;
$list-item-padding:     .625rem !default;
$bullet-height:         .375rem !default;
$bullet-width:          .625rem !default;

// Non heading Text

$p-font-size:    .875rem !default;
$p-font-weight:  300 !default;
$p-line-height:  1.25rem !default;

// Tables

$collapse-padding:       0 2.25rem !default;
$label-padding:          .3125rem !default;

$table-width:            100% !default;
$table-border-width:     .0625rem !default;
$table-border-radius:    1rem !default;
$table-padding:          .625rem !default;

$table-shadow-x:         0 !default;
$table-shadow-y:         .3125rem !default;
$table-shadow-blur:      .625rem !default;
$table-shadow-spread:    0 !default;

// Buttons

$btn-height:                2.5rem;
$btn-width:                 15rem;
$btn-margin:                .625rem;
$btn-font-size:             .875rem;
$btn-font-weight:           bold;
$btn-letter-spacing:        .125rem;
$btn-line-height:           1.25rem;
$btn-border-radius:         .125rem;

$large-btn-height:          3.125rem;
$large-btn-width:           31.25rem;
$large-btn-font-size:       1rem;

$small-btn-height:          1.875rem;
$small-btn-width:           4.375rem;
$small-btn-font-size:       .75rem;
$small-btn-font-weight:     500;
$small-btn-letter-spacing:  .0625rem;

$default-btn-border:        .125rem;

// Lists

$ul-font-size: .875rem;
$ul-line-height: 1rem;
$ol-li-font-size: .75rem;
